// 기본UI 상호작용 버튼 비활성화
.tui-image-editor-help-menu,
.tui-image-editor-controls,
.tui-image-editor-header {
	display: none !important;
}
.tui-image-editor-container,
.tui-image-editor-main-container {
	background-color: transparent !important;
}

// 하단 팝업메뉴 스타일 재정의
.tui-image-editor-submenu {
	border-radius: 2rem;
	background-color: white;
}

// 캔버스 중앙정렬
.ImageEditorWrapper {
	text-align: center;
	flex-grow: 1;
}
.tui-image-editor-align-wrap {
	border-radius: 0;
	background-color: transparent !important;
}

// 작업영역 강조 (음영처리)
.tui-image-editor-canvas-container {
	box-shadow: 3px 3px 6px 0px black;
}
