@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Pretendard, "Apple SD Gothic Neo", "나눔바른고딕", "나눔고딕", "NanumGothic", "맑은고딕", "Malgun Gothic", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: #202020;
  text-align: left;
}

a {
  color: #FCACD3;
}

a:visited {
  color: #F962AC;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
