.LoginDiv {
	h1 {
		font-family: "omyu";
		color: #ff5500;
		font-size: 48px;
		text-align: center;
		margin: 120px 0 80px 0;
		//transition: 0.2s linear;
	}

	input {
		display: block;
		width: 90%;
		max-width: 400px;
		height: 50px;
		margin: 0 auto;
		border-radius: 8px;
		border: none;
		background: #e0e0e0;
		color: #000000;
		padding: 0 0 0 15px;
		font-size: 18px;
		font-family: "omyu";
		&:focus,
		&:active {
			outline: none;
			border: none;
		}
	}
}
.signUp {
	font-size: 14px;
	color: #e0e0e0;
	text-decoration: underline;
}

.Question {
	position: relative;
	top: 3%;
	text-align: center;
	font-size: 15px;
	color: #e0e0e0;
}

.Login {
	background: #ff5500;
	color: white;
	display: block;
	width: 92.5%;
	max-width: 420px;
	height: 50px;
	border-radius: 8px;
	margin: 0 auto;
	border: none;
	cursor: pointer;
	font-size: 28px;
	font-family: "omyu";
	transition: 0.2s linear;
}

.Check {
	position: absolute;
	top: 301px;
	left: 60%;
	background: #ff5500;
	color: white;
	display: block;
	width: 92.5%;
	max-width: 65px;
	height: 50px;
	border-radius: 8px;
	margin: 0 auto;
	border: none;
	cursor: pointer;
	font-size: 25px;
	transition: 0.2s linear;
	font-family: "omyu";
}
